body{
margin:0;
font-family:'Segoe UI',sans-serif;
background:radial-gradient(circle,#0f172a,#020617);
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-container{
display:flex;
width:900px;
height:500px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(20px);
border-radius:20px;
overflow:hidden;
box-shadow:0 0 50px rgba(0,0,0,0.8);
}

/* IZQUIERDA */
.left-panel{
flex:2;
padding:30px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:20px;
}

.camera-box{
width:250px;
height:180px;
border-radius:15px;
background:rgba(255,255,255,0.05);
display:flex;
align-items:center;
justify-content:center;
border:1px solid rgba(255,255,255,0.1);
}

.camera-placeholder{
opacity:0.7;
}

/* DERECHA */
.right-panel{
flex:1;
padding:30px;
display:flex;
flex-direction:column;
justify-content:center;
gap:15px;
background:rgba(0,0,0,0.3);
}

input{
padding:10px;
border-radius:10px;
border:none;
outline:none;
background:#0f172a;
color:white;
}

/* BOTONES */
button{
padding:12px;
border:none;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.user-btn{
background:linear-gradient(45deg,#22c55e,#4ade80);
}

.admin-btn{
background:linear-gradient(45deg,#2563eb,#38bdf8);
}

button:hover{
transform:scale(1.05);
}